@import url("fonts.css");

body{
    background: #F1F1F1;
    font-family: Roboto;
    font-size: 24px;
}

.to-right{
    transform: rotate(-90deg);
}
.first_row{
    background: #FFF;
    display: flex;
    justify-content: space-between;
}
.first_row a{
    text-decoration: none;
}
.menu_logo{
    display: flex;
}
.first_row a .menu{
    padding-top: 22px;
    padding-bottom: 33px;
    display: inline-block;
    margin-left: 27px;
}
.first_row a .logo{
    padding-top: 19px;
    margin-left: 28px;
    padding-bottom: 31.59px;
    display: inline-block;
}
form{
    display: flex;
    margin-top: 16px;
}
.search_bttn{
    /* height: 30px; */
    width: 63px;
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 1px 0px 0px 1px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.search_input{
    /* height: 30px; */
    top: 13px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 4px 3px rgba(0, 0, 0, 0.05);
    border-radius: 1px 0px 0px 1px;
}
.top_menu{
    display: flex;
}
.top_menu span{
    fill:#606060;
    margin-right: 31px;
    margin-top: 22px;
}
.ellipse_main{
    width: 32px;
    height: 32px;
    margin-right: 30px;
    top: 12px;
    border: 1px solid #0572EF;
    border-radius: 50%;
    background: #0572EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left_menu{
    width: 240px;
    background: #FFFFFF;
}
.left_menu a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 12px 0;
    color:#000000;
}
.left_menu a:hover{
    background: rgba(0, 0, 0, 0.05);
}
.left_menu a:active {
    background: rgba(0, 0, 0, 0.1);
  }
.left_menu a svg{
    fill: #606060;
    margin-left: 26px;
}
.left_menu a.active svg {
    fill: #f00;
  }

.side-menu a .icon {
    margin-left: 26px;
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

.left_menu a .text{
    display: inline-block;
    margin-left: 26px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
}

.row{
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.row .text{
    font-weight: normal;
    font-size: 14px;
}
.library{
    margin-top: 24px;
}
.ellipse{
    height: 23px;
    width: 23px;
    border: 1px solid #0572EF;
    border-radius: 50%;
    background: #0572EF;
    margin-left: 24px;
    margin-right: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ellipse:hover{
    border: 1px solid #4A90E2;
}


.circle{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #2860CD;
    margin-left: 83px;
}
.subscr{
    color: #606060;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
}
.more{
    color: #606060;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
}
.show{
    margin-bottom: 20px;
}
.live{
    margin-bottom: 20px;
}
.setting{
    margin-top: 20px;
}
.feedback{
    margin-bottom: 20px;
}
p{
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    margin-left: 26px;
    margin-left: 18px;
    height: 100px;
    width: 165px;
    text-align: left;
    line-height: 14px;
}
.line{
    background: #E5E5E5;
    height: 1px;

}