@import url("fonts.css");

body{
    background: #F1F1F1;
    font-family: Roboto;
    font-size: 24px;
    display: flex;
}

.to-right{
    transform: rotate(-90deg);
}
.first_row{
    width: 100vh;
    text-decoration: none;
}
.left_menu{
    width: 240px;
    background: #FFFFFF;
}
.left_menu a {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: block;
    padding: 12px 0;
    color:#000000;
}
.left_menu a:hover{
    background: rgba(0, 0, 0, 0.05);
}
.left_menu a:active {
    background: rgba(0, 0, 0, 0.1);
  }
.left_menu a svg{
    fill: #606060;
    margin-left: 26px;
}
.left_menu a.active svg {
    fill: #f00;
  }

.left_menu a .text{
    color: #606060;
    margin-left: 26px;
}

.side-menu a .icon {
    margin-left: 26px;
    display: inline-block;
    width: 20px;
    text-align: center;
    vertical-align: middle;
}

#logo{
    padding-top: 19px;
    margin-bottom: 43.59px;
}
.row{
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.text{
    font-weight: normal;
    font-size: 14px;
}
.library{
    margin-top: 24px;
}
.ellipse{
    height: 23px;
    width: 23px;
    border: 1px solid #0572EF;
    border-radius: 50%;
    background: #0572EF;
    margin-left: 24px;
    margin-right: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ellipse:hover{
    border: 1px solid #4A90E2;
}


.circle{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #2860CD;
    margin-left: 83px;
}
.subscr{
    color: #606060;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
}
.more{
    color: #606060;
    margin-left: 24px;
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
}
.show{
    margin-bottom: 20px;
}
.live{
    margin-bottom: 20px;
}
.setting{
    margin-top: 20px;
}
.feedback{
    margin-bottom: 20px;
}
p{
    color: #606060;
    font-weight: 500;
    font-size: 12px;
    margin-left: 26px;
    margin-left: 18px;
    height: 100px;
    width: 165px;
    text-align: left;
    line-height: 14px;
}
.line{
    background: #E5E5E5;
    height: 1px;

}